<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let product of items">
      <ion-thumbnail item-start>
        <img [src]="'assets/imgs/' + product.image">
      </ion-thumbnail>
      <h2>R$ {{ product.name }}</h2>
      <p>R$ {{ product.price }}</p>
    </ion-item>
  </ion-list>

  <div>
    <h2>Total: R$ {{ getTotal() }}</h2>
    <button ion-button block (click)="pay()">
      Checkout
    </button>
  </div>
</ion-content>
