<ion-header>
  <ion-toolbar>
    <ion-title>Restaurantes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let restaurant of restaurants">
      <ion-thumbnail item-start>
        <img [src]="'assets/imgs/' + restaurant.image">
      </ion-thumbnail>
      <h2>{{ restaurant.name }}</h2>
      <p>{{ restaurant.type }}</p>
      <button ion-button clear item-end (click)="goToProducts(restaurant)">View</button>
    </ion-item>

  </ion-list>
</ion-content>
