<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="restaurant">
    <ion-item *ngFor="let product of restaurant.products">
      <ion-thumbnail item-start>
        <img [src]="'assets/imgs/' + product.image">
      </ion-thumbnail>
      <h2>R$ {{ product.name }}</h2>
      <p>R$ {{ product.price }}</p>
      <button ion-button clear item-end (click)="addItemToCart(product)">
        Add +
      </button>
    </ion-item>
  </ion-list>
</ion-content>
